<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
 	 <param name="rtcm_topic" value="/rtcm"/>
 	 <param name="ntrip_server" value="nrtk-swepos.lm.se:80"/>
 	 <param name="ntrip_user" value="M300_rtk"/>
 	 <param name="ntrip_pass" value="478743"/>
 	 <param name="ntrip_stream" value="MSM_GNSS"/>
 	 <param name="nmea_gga" value="$GPGGA,083942.660,5916.578,N,01512.660,E,1,12,1.0,0.0,M,0.0,M,,*6C"/>  </node>
</launch>

